@import "tailwindcss";

@source "../../components"; 

:root {
  --background: #F3F5F7;
  --foreground: #171717;
  --text: #4A4A4A;
  
}

@theme inline {

  --color-canvas: #F3F5F7;
  --color-surface: #EAEDF2;
  --color-white: #FFF;
  --color-border: #D9DBE0;
  --color-footer: #51616B;

  --color-ink: #1A1A1A;
  --color-body: #4A4A4A;
  --color-muted: #928F8E;

  --color-accent: #9AABB5;

  --spacing-0: 0;
  --spacing-xs: clamp(2px, 1vw, 4px);
  --spacing-sm: clamp(6px, 1vw, 8px);
  --spacing-md: clamp(16px, 1vw, 32px);
  --spacing-lg: clamp(32px, 1vw, 64px);
  --spacing-xl: clamp(64px, 1vw, 120px);
  --spacing-section-sides: clamp(24px, 1vw, 80px);
  --spacing-section-tb: clamp(64px, 4vw, 130px);
  --spacing-5xl: clamp(100px, 1vw, 160px);

  --radius-*: initial;
  --radius-sharp: 0px;
  --radius-xs: clamp(2px, 1vw, 4px);
  --radius-sm: 4px;
  --radius-md: 16px;
  --radius-lg: 18px;
  --radius-xl: 50px;
  --radius-2xl: 150px;
  --radius-round: 9999px;

  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Poppins", sans-serif;
  --font-cursive: "Dancing Script", cursive;
  --font-display: var(--font-serif);
  --font-heading: var(--font-serif);
  --font-subheading: var(--font-sans);
  --font-body: var(--font-sans);
  --font-caption: var(--font-sans);
  --font-eyebrow: var(--font-sans);

  --size-icon-body: clamp(2px, 4vw, 32px);
  --size-icon-subheading: clamp(0.9rem, 4vw, 1.2rem);
  --size-icon-heading: clamp(2rem, 4vw, 2.5rem);

  --animate-line-trim: kf_Line_1_path-trim_0 600ms ease-out infinite;

  @keyframes kf_Line_1_path-trim_0 {
    0% {
      animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
      stroke-dasharray: 0 1;
      visibility: hidden;
    }
    15% {
      stroke-dasharray: 1 1;
      visibility: visible;
    }
    100% {
      stroke-dasharray: 1 1;
      visibility: visible;
    }
  }


}

@layer utilities {

  .selection-brand {
    &::selection {
      background-color: var(--color-accent);
      color: white;
      text-decoration-skip-ink: none;
      font-style: italic;
    }
  }
  .desk-nav-slider {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: fit-content;
    column-gap: var(--spacing-md);
    row-gap: var(--spacing-md);
    background: var(--color-surface);
  }

  .max-w-section {
    max-width: 50rem;
    margin: auto;
    /* font-style: italic; */
  }
  .section-spacing {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
  }
  .font-display {
    font-size: clamp(2rem, 4vw, 2.3rem);
    font-family: var(--font-serif);
    line-height: 1.2;
    font-weight: 500;
    /* font-style: italic; */
  }
  .font-heading {
    cursor: default;
    font-size: clamp(2rem, 4vw, 2.5rem);
    font-family: var(--font-serif);
    line-height: 1.2;
    font-weight: 600;
  }
  .font-heading-sm {
    font-size: clamp(1.6rem, 4vw, 2rem);
    font-family: var(--font-serif);
    line-height: 1.2;
    font-weight: 700;
  }
  .font-subheading {
    font-size: clamp(0.9rem, 4vw, 1.1rem);
    font-family: var(--font-body);
    line-height: 1.5;
    font-weight: 600;
    margin: var(--spacing-sm) 0 var(--spacing-xs) 0;
  }
  .font-body {
    font-size: clamp(14px, 4vw, 1rem);
    font-family: var(--font-body);
    line-height: 2;
    font-weight: 400;
    margin-bottom: var(--spacing-sm);
  }
  .font-bodybold {
    font-size: clamp(14px, 4vw, 1rem);
    font-family: var(--font-body);
    line-height: 2;
    font-weight: 700;
    margin-bottom: var(--spacing-sm);
  }
  .font-eyebrow {
    font-size: clamp(10px, 4vw, 0.7rem);
    font-family: var(--font-body);
    line-height: 2;
    font-weight: 400;
    letter-spacing: 2;
    text-transform: uppercase;
  }
  .font-caption {
    font-size: clamp(0.5rem, 4vw, 0.8rem);
    font-family: var(--font-body);
    line-height: 1;
    font-weight: 500;
    text-transform: capitalize;
  }
}

@utility iconSize {
  color: inherit;
  color: var(--color-ink);
  width: 12px;
  
  @media (min-width: 640px) {
    width: 18px;
  }
  
  @media (min-width: 1024px) {
    width: 20px;
  }
}

body {
  background: var(--color-canvas);
  color: var(--color-body);
  font-family: Arial, Helvetica, sans-serif;
}